.btn {
    padding: 16px 34px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid $active;
    border-radius: 27px;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        color: #fff;
        text-decoration: none;
        border-radius: 0;
        border: 3px solid $active;
    }
    &:active {
        color: $active;
    }
    &_slider {
        margin-left: 70px;
    }
}